---
import TechSkills from "../components/TechSkills.astro";
---

<div>
  <TechSkills />
  <div>
    <p class="text-center font-bold">
      Always learning new technologies and Open to Learn 
    </p>
  </div>
</div>
