---
import Layout from "../layouts/Layout.astro";
import { wordData } from "../data/imgSrcData.js";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-center text-4xl font-bold mt-6 mb-6">Work Experience</h1>
    <div class="grid grid-cols-1 xl:grid-cols-3 mt-5">
      <div>
        <div class="box-about w-fit h-fit mx-auto p-2">
          <img src={wordData[0]} class="img-work" alt="work job" />
        </div>
        <p class="mt-4">
          <h1 class="text-center my-2 text-xl font-bold">
            Full-Stack Software Engineer
          </h1>
          <h1 class="text-center px-4 mb-5">
            <strong>Dwald Consulting (Software Consulting)</strong>
            <br /> Dominican Republic
          </h1>
        </p>
      </div>

      <div class="grid col-span-2 mb-5">
        <ul class="border-x-4 border-black/80 rounded-lg px-5 mx-8 mr-10">
          <li>
            • Create a business entity that ensures integration between <strong
              >Front</strong
            > and <strong>Back End</strong>. Using <strong>Asp.Net MVC</strong> with
            <strong>DI</strong> and <strong>Linq</strong>.
          </li>
          <li class="mt-2">
            • <strong>Plan, Design and Create</strong> attractive and functional user interfaces
            with <strong>UX/UI</strong>, <strong>MVC Controllers</strong> and <strong
              >Views</strong
            >.
          </li>
          <li class="mt-2">
            • Worked with several engineers to create complete applications,
            ensuring effective integration.
          </li>
          <li class="mt-2">
            • Committed to the business side, I proposed <strong
              >AutoMapper</strong
            > solving technical and scalability issues.
          </li>
          <li class="mt-2">
            • <strong>Improve security </strong>at <strong>Front</strong> and <strong
              >Back End</strong
            >; With <strong>design patterns</strong>, <strong>DTO</strong> and <strong
              >Fluent Validator</strong
            >.
          </li>
          <li class="mt-2">
            • To guarantee integration with the <strong>Front</strong> and <strong
              >Usability</strong
            >; We use <strong>database migrations</strong>.
          </li>
          <li class="mt-2">
            • Version control was managed with <strong>Git</strong> and <strong
              >Github</strong
            >, integrating <strong>Jira</strong> for task flow.
          </li>
          <li class="mt-2">
            • <strong>Focusing on creating advanced technology</strong> solutions using <strong
              >Asp.Net MVC</strong
            > for a growing startup called <strong>Dwald Consulting</strong> from
            Dominican Republic, SFM.
          </li>
        </ul>
      </div>
    </div>
  </main>
</Layout>

<style>
  .box-about {
    background: linear-gradient(to bottom right, #020912dd, #272727);
    color: rgba(255, 255, 255, 0.745);
    box-shadow: 0px 0px 10px #353535b6;
    border: solid 1px rgba(255, 255, 255, 0.863);
    border-radius: 24px;
  }

  .img-work {
    width: 200px;
    border-radius: 24px;
  }
</style>
